<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item "><a routerLink="/CourseList">Course List</a></li>
                <li class="breadcrumb-item "><a routerLink="/CourseList">{{Coursename}}</a></li>
                <li class="breadcrumb-item active">{{Topic.name}}</li>
            </ol>
        </nav>
        <div class="container-fluid px-4">
            <div class="row g-2">
                <div class="col-sm-10 col-md-12 d-flex ">
                    <div class="col-9">
                        <h2 class="pt-">{{Topic.name}}</h2>
                        <p class="mt-4 font"><b class="text-dark fs-5">Duration : </b>{{Topic.duration}}</p>
                    </div>
                    <div class="col-3">
                        <h5 class="text-primary fs-5 mx-5">
                            <div *ngIf="auth.IsTrainee">
                                <a *ngIf="Checked == true">Attendance <input type='checkbox' class='form' value='Yes'
                                        checked style="pointer-events: none;" name='checkbox_attendance'></a>
                                <a *ngIf="Checked == false">Attendance <input type='checkbox' class='form' value='Yes'
                                        unchecked name='checkbox_attendance' (click)="MarkAttendance()" /></a>
                            </div>
                            <div><a *ngIf="auth.IsCoordinator || auth.IsTrainer" routerLink="/AttendanceList/{{courseId}}/{{topicId}}"
                                    id="pointer">View Attendance</a></div>
                        </h5>
                        <h6 class=" text-dark fs-4">
                            <div *ngIf="auth.IsTrainer">
                                <a *ngIf="TopicChecked == true">Topic Completed <input type='checkbox' class='form'
                                        value='Yes' checked style="pointer-events: none;"
                                        name='checkbox_topicCompleted'></a>
                                <a *ngIf="TopicChecked == false">Topic Completed <input type='checkbox' class='form'
                                        value='Yes' unchecked name='checkbox_topicCompleted'
                                        (click)="MarkTopicStatus()" /></a>
                            </div>
                        </h6>
                    </div>
                </div>
            </div>
            <quill-view class="ql-container ql-snow" id="editor" format="text"></quill-view>
            <div class="row g-2">
                <div class="container-fluid  px-4 pb-2">
                    <h3>Topic's Assignment</h3>
                    <app-uploadassignment *ngIf="!submitted && Topic.assignments[0] == null && auth.IsTrainer"
                        (SubmittedAssignment)="HandleSubmit($event)">
                    </app-uploadassignment>
                </div>
                <div *ngIf="Topic.assignments[0] != null" class="container bg-light p-3 rounded border">
                    <div class="d-flex justify-content-around">
                        <div>
                            Created By : {{Topic.assignments[0].owner.fullName}}
                        </div>
                        <div>
                            Created On : {{Topic.assignments[0].createdOn | date}}
                        </div>
                        <a (click)="ViewAssignment(Topic.assignments[0])" target="_blank" rel="noopener noreferrer"
                            class="text-primary">View</a>
                        <a download="assignment.pdf"
                            [href]="sanitizer.bypassSecurityTrustUrl(Topic.assignments[0].base64+','+Topic.assignments[0].document)">Download</a>
                    </div>
                </div>
                <div class="container-fluid px-4" *ngIf="Topic.assignments[0] != null">
                    <h3>Submitted Assignment</h3>
                    <div class="px-4 pb-2" *ngIf="(auth.IsTrainee && !submitted) || (Topic.assignments.length > 1)">
                        <app-uploadassignment (SubmittedAssignment)="HandleSubmit($event)"></app-uploadassignment>
                    </div>
                    <!-- <div class="container-fluid  px-4" > -->
                    <app-assignmentlist [courseId]="courseId" [topicId]="topicId"
                        *ngIf="auth.IsCoordinator || auth.IsTrainer"></app-assignmentlist>
                    <div *ngIf="assignment.ownerId != undefined && !auth.IsTrainer && !auth.IsCoordinator"
                        class="container-fluid bg-light p-3 rounded border">
                        <div class="d-flex justify-content-around">
                            <div>
                                Created By : {{assignment.owner.fullName}}
                            </div>
                            <div>
                                Created On : {{assignment.createdOn | date}}
                            </div>
                            <a (click)="ViewAssignment(assignment)" target="_blank" rel="noopener noreferrer"
                                class="text-primary">View</a>
                            <a download="assignment.pdf"
                                [href]="sanitizer.bypassSecurityTrustUrl(assignment.base64+','+assignment.document)">
                                Download
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>