<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item "><a routerLink="/Userlist/2">{{Title}} List</a></li>
                <li class="breadcrumb-item active">{{Text}} {{Title}}</li>
            </ol>
        </nav>
        <div class="container-fluid pt-2 px-4" [ngSwitch]="access">
            <h3 class="text-black pb-2">{{Text}} {{Title}}</h3>
            <form [formGroup]="userform" action="" name="myForm" (ngSubmit)="OnSubmit()">
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" name="name" [(ngModel)]="user.fullName" formControlName="fullname" required maxlength="25" minlength="3" pattern="(^(?!.*([A-Za-z])\2{2})\w[a-zA-Z\s]*$)">
                    <label for="floatingText">Fullname*</label>
                    <div *ngIf="userform.controls['fullname'].invalid && (userform.controls['fullname'].dirty || userform.controls['fullname'].touched)" class="alert alert-danger">
                        <div *ngIf="userform.controls['fullname'].errors?.['required']">Full Name is required.</div>
                        <div *ngIf="userform.controls['fullname'].errors?.['minlength']">Full Name must be at least 4 characters long.</div>
                        <div *ngIf="userform.controls['fullname'].errors?.['maxlength']">Full Name don't exceed 25 characters long.</div>
                        <div *ngIf="userform.controls['fullname'].invalid || userform.controls['fullname'].errors?.['maxlength']">Please enter a valid fullname</div>
                    </div>
                </div>
                <div class="form-floating mb-4">
                    <input type="email" [(ngModel)]="user.email" formControlName="email" class="form-control" name="email" required required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <label for="floatingInput">Email address*</label>
                    <div *ngIf="userform.controls['email'].invalid && (userform.controls['email'].dirty || userform.controls['email'].touched)" class="alert alert-danger">
                        <div *ngIf="userform.controls['email'].errors?.['required']">Email is required.</div>
                        <div *ngIf="userform.controls['email'].errors?.['minlength']">Email must be at least 4 characters long.</div>
                        <div *ngIf="userform.controls['email'].errors?.['maxlength']">Email don't exceed 25 characters long.</div>
                        <div *ngIf="userform.controls['email'].invalid || userform.controls['email'].errors?.['maxlength']">Please enter a valid Email address</div>
                    </div>
                </div>
                <div class="form-floating form-floating-sm mb-4 nav-item dropdown">
                    <input type="text" [(ngModel)]="user.userName" formControlName="username" class="form-control" name="username" required pattern="(^(?!.*([A-Za-z])\2{2})\w[a-zA-Z\s]*$)">
                    <label for="floatingText">Username*</label>
                    <div *ngIf="userform.controls['username'].invalid && (userform.controls['username'].dirty || userform.controls['username'].touched)" class="alert alert-danger">
                        <div *ngIf="userform.controls['username'].errors?.['required']">Username is required.</div>
                        <div *ngIf="userform.controls['username'].errors?.['minlength']">Username must be at least 4 characters long.</div>
                        <div *ngIf="userform.controls['username'].errors?.['maxlength']">Username don't exceed 25 characters long.</div>
                        <div *ngIf="userform.controls['username'].invalid || userform.controls['username'].errors?.['maxlength']">Please enter a valid Username</div>
                    </div>
                </div>
                <div class="form-floating mb-4" *ngIf="Editable === false">
                    <input type="password" [(ngModel)]="user.password" formControlName="password" class="form-control" name="password" required>
                    <label for="floatingPassword">Password*</label>
                    <div *ngIf="userform.controls['password'].invalid && (userform.controls['password'].dirty || userform.controls['password'].touched)" class="alert alert-danger">
                        <div *ngIf="userform.controls['password'].errors?.['required']">Password is required.</div>
                        <div *ngIf="userform.controls['password'].errors?.['minlength']">Password must be at least 4 characters long.</div>
                        <div *ngIf="userform.controls['password'].errors?.['maxlength']">Password don't exceed 25 characters long.</div>
                        <div *ngIf="userform.controls['password'].invalid || userform.controls['password'].errors?.['maxlength']">Password enter a valid password</div>
                    </div>
                </div>
                <div class="form-floating mb-4" *ngSwitchCase="true">
                    <select name="Department" id="Department Name" formControlName="department" class="form-select" name="_dept" [(ngModel)]="user.departmentId">
                        <option value="">Select the Department</option>
                        <option *ngFor="let item of dept" value={{item.id}}> {{item.name}}</option>
                    </select>
                    <label for="floatingInput">Department*</label>
                    <div *ngIf="userform.controls['department'].invalid && (userform.controls['department'].dirty || userform.controls['department'].touched)" class="alert alert-danger">
                        <div *ngIf="userform.controls['department'].errors?.['required']">Department is required.</div>
                        <div *ngIf="userform.controls['department'].errors?.['minlength']">Department must be at least 4 characters long.</div>
                        <div *ngIf="userform.controls['department'].errors?.['maxlength']">Department don't exceed 25 characters long.</div>
                        <div *ngIf="userform.controls['department'].invalid || userform.controls['department'].errors?.['maxlength']">Please enter a valid department</div>
                    </div>
                </div>
                <div class="col-md-12 card rounded card-body">
                    <div class="form-group" *ngIf="Editable === false">
                        <label class="mr-2">*Upload your Image:</label>
                        <input type="file" name="file" accept="image/*" (change)="handleUpload($event)">
                        <input type="hidden" name="role" value="{{user.roleId}}">
                    </div>
                    <div class="form-group" *ngIf="Editable === true">
                        <label class="mr-2">Edit your Image:</label>
                        <img [src]="sanitizer.bypassSecurityTrustUrl(user.base64)" class="img-fluid rounded-start Eprofile" alt="image">
                        <input type="file" name="file" (change)="handleUpload($event)">
                    </div>
                </div> 
                <button type="submit" class="btn btn-dark pe-4 px-4 ms-2">{{Text}}</button>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</div>