<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item active">Course List </li>
            </ol>
        </nav>
        <div class="container-fluid px-4 pt-2 pb-2">
            <h3 class="text-black pb-2">Course List</h3>
            <div class="header" id="style">
                <a *ngIf="add" routerLink="/AddCourse"> <button type="button" class="btn btn-dark pe-4 px-4">Add</button></a>
                <div class="container">
                    <!-- <div class="col-md-11" id="hov" *ngIf="IsCoordinator"><app-search (SearchtextChanged)="SearchActive($event)"></app-search></div> -->
                </div>
                <div class="container-fluid" *ngIf="auth.IsCoordinator">
                    <div class="col-md-12">
                        <select name="Department" id="Department Name" class="form-select " name="_dept" [(ngModel)]="_dept">
                            <option value="">Select the Department</option>
                            <option *ngFor="let item of dept" value={{item.name}}>{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngFor="let item of courselist |filter:_dept|filter:search | paginate: {itemsPerPage: 4, currentPage: page, totalItems: totalLength }">
                <div class="row g-3 my-2">
                    <div class="col-md-12 rounded hover">
                        <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center">
                            <div class="w-50" id="pointer"><a (click)="ToCourseView(item.id)"><p class="text-dark mt-2 pointer"><b>{{item.name}}</b></p></a></div>
                            <div class="" id="pointer" *ngIf="auth.IsCoordinator"><a (click)="ToEditCourse(item)"> <i class="fa-solid fa-pen-to-square text-dark"></i></a></div>
                            <div class="" id="pointer" *ngIf="auth.IsCoordinator"><a (click)="disableCourse(item.id)"><i class="fa-solid fa-ban text-dark"></i></a></div>
                            <div class="" *ngIf="auth.IsCoordinator || auth.IsTrainer"><a routerLink="/AssignCourse/{{item.id}}"><button type="button" class="btn btn-dark pe-3 px-3 mx-3">View Trainee</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container justify-content-center d-flex pagination"><pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls></div>
    </div>
    <app-footer></app-footer>
</div>
