<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item active">Course List </li>
            </ol>
        </nav>
        <div class="container-fluid px-4 pt-2 pb-2">
            <h3 class="text-black pb-2">Course List</h3>
            <div class="header" id="style">
                <a *ngIf="add" routerLink="/AddCourse"> <button type="button" class="btn btn-dark pe-4 px-4 hover">Add</button></a>
                <div class="container">
                    <div class="col-md-11" >
                    <input #search class="form-control" id="search" type="text"placeholder="Search" aria-label="Search"  (keyup)="filterByName(search)">
                </div>
                    <!-- <div class="col-md-11"  *ngIf="IsCoordinator"><app-search (SearchtextChanged)="SearchActive($event)"></app-search></div> -->
                </div>
                <div class="container-fluid" *ngIf="auth.IsCoordinator">
                    <div class="col-md-12">
                        <select #department name="Department" id="hello" class="form-select hover" name="_dept" [(ngModel)]="_dept" (change)="filterByDepartment(department)">
                            <option value="">Select the Department</option>
                            <option *ngFor="let item of dept" value={{item.id}}>{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            
            
            <div *ngFor="let item of courselist | paginate: {itemsPerPage: 5, currentPage: page, totalItems: totalLength }">
                <div class="row g-3 my-2">
                    <div class="col-md-12">
                        <div class="p-4 bg-light d-flex justify-content-around align-items-center border hover rounded">
                            <div class="w-100" id="pointer"><a (click)="ToCourseView(item.id)"><p class="mt-2 mx-4 font"><b>Course : </b>{{item.name}}</p></a></div>
                            <div class="col-4" *ngIf="auth.IsCoordinator"><p class="text-dark mt-2 font"><b>Department : </b>{{item.department.name}}</p></div>
                            <div class="col-1" id="pointer" *ngIf="auth.IsCoordinator"><a (click)="ToEditCourse(item)"><i class="fa-solid fa-pen-to-square text-dark"></i></a></div>
                            <div class="col-1" id="pointer" *ngIf="auth.IsCoordinator"><a (click)="disableCourse(item.id)"><i class="fa-solid fa-ban text-dark"></i></a></div>
                            <div class="col-2" *ngIf="auth.IsCoordinator || auth.IsTrainer"><a routerLink="/AssignCourse/{{item.id}}/{{item.departmentId}}"><button type="button" class="btn btn-dark pe-3 px-3 mx-1">View Trainee</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-4"><pagination-controls *ngIf="courselist.length > 5" class="text-center" (pageChange)="page = $event"></pagination-controls></div>
    </div>
    <app-footer></app-footer>
</div>
