<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item "><a routerLink="/Courses">Course List</a></li>
                <li class="breadcrumb-item "><a routerLink="/Courses/Course/{{courseId}}">{{CourseName}}</a></li>
                <li class="breadcrumb-item active">Course Feedback</li>
            </ol>
        </nav>
        <div class="container-fluid px-4 pt-2 pb-2">
            <h3 class="text-black">Course Feedback</h3>
            <form action="" #ngForm (ngSubmit)="OnSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mt-4">
                            <div class="col-md-4"><b class="text-dark">Course</b></div>
                            <div class="col-md-8" *ngIf="Add">
                                <p>{{CourseName}}</p>
                            </div>
                            <div class="col-md-8" *ngIf="!Add">
                                <p>{{CourseName}}</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4"><b class="text-dark">Rating</b></div>
                            <div class="col-md-8" *ngIf="Add">
                                <ngb-rating style="color:rgb(27, 140, 233);font-size: 35px;" class="rating bg-none"
                                    name="name" [max]="5.0" [(ngModel)]="Feedback.rating" [(rate)]="Feedback.rating"
                                    [readonly]="false"></ngb-rating>
                            </div>
                            <div class="col-md-8" *ngIf="Edit">
                                <ngb-rating style="color:rgb(27, 140, 233);font-size: 35px;" class="rating bg-none"
                                    name="name" [max]="5.0" [(ngModel)]="CourseFeedback.rating"
                                    [(rate)]="CourseFeedback.rating" [readonly]="false"></ngb-rating>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4"><b class="text-dark">Feedback</b></div>
                            <div class="col-md-8" *ngIf="Add"><textarea name="rate" [(ngModel)]="Feedback.feedback"
                                    rows="2" cols="60"></textarea></div>
                            <div class="col-md-8" *ngIf="Edit"><textarea name="rate"
                                    [(ngModel)]="CourseFeedback.feedback" rows="2" cols="60"></textarea></div>
                        </div>
                        <button type="submit" class="btn btn-dark mt-4 pe-4 px-4 hover">{{txt}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</div>