<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
        <h2 class="pt-2 px-4">Dashboard</h2>
        <div *ngIf="ls.IsHead">
            <div class="container-fluid pt-2 px-2">
                <div class="row g-1">
                    <div class="col-m-6">
                        <a routerLink="/Profile" class="nav-item nav-link" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded border">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(data.Base64)"
                                    class="img-fluid rounded-start Dprofile" alt="image">
                                <div class="ms-3">
                                    <h4 class="mb-3"><b class="text-dark">Welcome,</b> {{data.Name}}</h4>
                                    <h4 class="mb-0"><b class="text-dark"> Role:</b>{{data.Role}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Co-Ordinator" class="nav-item nav-link active" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-user fs-3 text-dark mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Co-Ordinator</h4>
                                <h3 class="mb-0 mx-4">{{data.coordinatorsCount}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/Department" class="nav-item nav-link active rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-book text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Department</h4>
                                <h3 class="mb-0 mx-4">{{data.departmentCount}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Trainer" class="nav-item nav-link active rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-male text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Trainer</h4>
                                <h3 class="mb-0 mx-4">{{data.trainersCount}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/Trainee" class="nav-item nav-link active rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-users text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Trainee</h4>
                                <h3 class="mb-0 mx-4">{{data.traineesCount}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Reviewer" class="nav-item nav-link active rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-user-md text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Reviewer</h4>
                                <h3 class="mb-0 mx-4">{{data.reviewersCount}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Co-Ordinator Dashboard -->
        <div *ngIf="ls.IsCoordinator">
            <div class="container-fluid pt-2 px-2">
                <div class="row g-1">
                    <div class="col-m-6">
                        <a routerLink="/Profile" class="nav-item nav-link rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(data.Base64)"
                                    class="img-fluid rounded-start Dprofile mx-4" alt="image">
                                <div class="mx-4">
                                    <h4 class="mb-3"><b class="text-dark">Welcome,</b> {{data.Name}}</h4>
                                    <h4 class="mb-0"><b class="text-dark"> Role:</b>{{data.Role}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Department" class="nav-item nav-link active rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-book text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Department</h4>
                                <h3 class="mb-0 mx-4">{{data.departmentCount}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/Courses" class="nav-item nav-link active">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-book text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Courses</h4>
                                <h3 class="mb-0 mx-4">{{data.courseCount}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Trainer" class="nav-item nav-link active rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-male text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Trainer</h4>
                                <h3 class="mb-0 mx-4">{{data.trainersCount}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/Trainee" class="nav-item nav-link active rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <i class="fa fa-users text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Trainee</h4>
                                <h3 class="mb-0 mx-4">{{data.traineesCount}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="row g-3 my-2">
                        <div class="col-md-6">
                            <a routerLink="/Reviewer" class="nav-item nav-link active rounded" id="boxshadow">
                                <div class="p-4 bg-light d-flex justify-content-between border  hover rounded">
                                    <i class="fa fa-user-md text-dark fs-3 mx-4" aria-hidden="true"></i>
                                    <h4 class="mb-0 text-dark">Reviewer</h4>
                                    <h3 class="mb-0 mx-4">{{data.reviewersCount}}</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Trainer Dashboard -->
        <div *ngIf="ls.IsTrainer">
            <div class="container-fluid px-2">
                <div class="row g-1">
                    <div class="col-m-6">
                        <a routerLink="/Profile" class="nav-item nav-link rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(data.Base64)"
                                    class="img-fluid rounded-start Dprofile mx-4" alt="image">
                                <div class="mx-4">
                                    <h4 class="mb-3"><b class="text-dark">Welcome,</b> {{data.Name}}</h4>
                                    <h4 class="mb-0"><b class="text-dark"> Role:</b>{{data.Role}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Courses" class="nav-item nav-link active">
                            <div
                                class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                                <i class="fa-solid fa-square-pen fs-3 text-dark mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Courses</h4>
                                <h3 class="mb-0 mx-4">{{data.courseCount}}</h3>
                            </div>
                        </a>
                    </div>
                    <!-- <div class="col-md-6">
                        <a routerLink="/ReviewList/1" class="nav-item nav-link active">
                            <div
                                class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                                <i class="fa fa-book text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Completed Course</h4>
                                <h3 class="mb-0 mx-4">{{data.completedCourseCount}}</h3>
                            </div>
                        </a>
                    </div> -->
                </div>
                <!-- <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="Completed-Reviews" class="nav-item nav-link active">
                            <div
                                class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                                <i class="fa fa-male text-dark mx-4 fs-3" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Progress Course</h4>
                                <h3 class="mb-0 mx-4">{{data.inProgressCourseCount}}</h3>
                            </div>
                        </a>
                    </div>
                </div> -->
            </div>
        </div>
        <!-- Trainee Dashboard -->
        <div *ngIf="ls.IsTrainee">
            <div class="container-fluid pt-2 px-2">
                <div class="row g-1">
                    <div class="col-m-6">
                        <a routerLink="/Profile" class="nav-item nav-link rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(data.Base64)"
                                    class="img-fluid rounded-start Dprofile" alt="image">
                                <div class="ms-3">
                                    <h4 class="mb-3"><b class="text-dark">Welcome,</b> {{data.Name}}</h4>
                                    <h4 class="mb-0"><b class="text-dark"> Role:</b>{{data.Role}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Courses/{{data.id}}" class="nav-item nav-link active">
                            <div class="p-4 bg-light d-flex justify-content-between border  hover rounded">
                                <i class="fa-solid fa-square-pen fs-3 text-dark mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 mx-4 text-dark">Courses</h4>
                                <h3 class="mb-0 mx-4">{{data.courseCount}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/Reviews" class="nav-item nav-link active">
                            <div class="p-4 bg-light d-flex justify-content-between border  hover rounded">
                                <i class="fa fa-book text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Reviews</h4>
                                <h3 class="mb-0 mx-4">{{data["Upcomming Review"]}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Completed-Review" class="nav-item nav-link active">
                            <div class="p-4 bg-light d-flex justify-content-between border  hover rounded">
                                <i class="fa fa-male text-dark mx-4 fs-3" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Completed Review</h4>
                                <h3 class="mb-0 mx-4">{{data["Completed Review"]}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Reviewer Dashboard -->
        <div *ngIf="ls.IsReviewer">
            <div class="container-fluid pt-2 px-2">
                <div class="row g-1">
                    <div class="col-m-6">
                        <a routerLink="/Profile" class="nav-item nav-link rounded" id="boxshadow">
                            <div class="p-4 bg-light d-flex justify-content-between border hover rounded">
                                <img [src]="sanitizer.bypassSecurityTrustUrl(data.Base64)"
                                    class="img-fluid rounded-start Dprofile" alt="image">
                                <div class="ms-3">
                                    <h4 class="mb-3"><b class="text-dark">Welcome,</b> {{data.Name}}</h4>
                                    <h4 class="mb-0"><b class="text-dark"> Role:</b>{{data.Role}}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row g-3 my-2">
                    <div class="col-md-6">
                        <a routerLink="/Reviews" class="nav-item nav-link active">
                            <div class="p-4 bg-light d-flex justify-content-between border  hover rounded">
                                <i class="fa fa-book text-dark fs-3 mx-4" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Reviews</h4>
                                <h3 class="mb-0 mx-4">{{data["Upcomming Review"]}}</h3>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a routerLink="/Completed-Review" class="nav-item nav-link active">
                            <div class="p-4 bg-light d-flex justify-content-between border  hover rounded">
                                <i class="fa fa-male text-dark mx-4 fs-3" aria-hidden="true"></i>
                                <h4 class="mb-0 text-dark">Completed Review</h4>
                                <h3 class="mb-0 mx-4">{{data["Completed Review"]}}</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>