<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item "><a routerLink="/CourseList">Course List</a></li>
                <li class="breadcrumb-item "><a routerLink="/TopicList">Topic List</a></li>
                <li class="breadcrumb-item active">Give TraineeFeedback</li>
            </ol>
        </nav>
        <div class="container-fluid px-4 pt-2 pb-2">
            <h3 class="text-black">Course Feedback</h3>
            <form action="" #ngForm (ngSubmit)="OnSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mt-4">
                            <div class="col-md-4"><b class="text-dark">Trainee</b></div>
                            <div class="col-md-8"><p>{{Traineename}}</p></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-4"><b class="text-dark">Feedback</b></div>
                            <div class="col-md-8"><textarea name="feedback" [(ngModel)]="TraineeFeedback.feedback" rows="5" cols="45"></textarea> </div>
                        </div>
                        <a href="#"><button type="button" class="btn btn-dark pe-4 px-4">Submit</button></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</div>