<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item "><a routerLink="/CourseList">Course List</a></li>
                <li class="breadcrumb-item active">{{Course.name}}</li>
            </ol>
        </nav>
        <div class="container-fluid px-4 pt-2 pb-2">
            <div class="row g-2">
                <div class="col-sm-6 col-xl-12 d-flex ">
                    <div class="col-10">
                        <h3>{{Course.name}}</h3>
                    </div>
                    <div class="col-2">
                        <p class="pt-2 fs-5"><b class="text-dark">Trainer : </b>{{Course.trainer.fullName}}</p>
                    <a class="pt-2 fs-5" (click)="toviewtraineelist()">View TraineeList</a>
                    </div>
                </div>
            </div>
            <p class="mt-2">{{Course.description}}</p>

            <div class="row g-2">
                <div class="col-sm-6 col-xl-12 d-flex ">
                    <div class="col-11">
                        <p class="fs-5 mt-2"><b class="text-dark">Duration : </b>{{Course.duration}}</p>
                    </div>
                    <!-- <div class="col-1" *ngIf="IsCoordinator || Trainer">
                        <a routerLink="/ViewCourseFeedback/{{data.id}}/{{traineeId}}"><button type="button" class="btn btn-dark">View Feedback</button></a>
                    </div> -->
                    <div class="col-1" *ngIf="auth.IsTrainee && !Givefeedback">
                        <a (click)="ToFeedback()"><button type="button" class="btn btn-dark">View Feedback</button></a>
                    </div>
                    <div class="col-1" *ngIf="auth.IsTrainee && Givefeedback">
                        <a (click)="ToAddFeedback()"><button type="button" class="btn btn-dark">Give
                                Feedback</button></a>
                    </div>
                </div>
            </div>
            <div class="row g-2 mt-2">
                <div class="col-sm-6 col-xl-12 d-flex ">
                    <div class="col-11"><b class="text-dark">Course Topics :</b></div>
                    <div class="col-1" id="btn" *ngIf="auth.IsCoordinator"><a
                            routerLink="/AddTopic/{{Course.id}}"><button type="button" class="btn btn-dark">Add
                                Topic</button></a></div>
                </div>
            </div>
            <div *ngFor="let item of Course.topics">
                <div class="row g-3 my-2">
                    <div class="col-md-12">
                        <div class="p-4 bg-light shadow-sm d-flex justify-content-around align-items-center rounded">
                            <div class="col-2" id="pointer"><a class="pointer" (click)="ToTopicView(item.topicId)"><p class="text-dark mt-2"><b>{{item.name}}</b></p></a></div>
                            <div class="col-0" *ngIf="auth.IsCoordinator"><a (click)="toATopic(item.courseId,item.topicId)"><i class="fa-solid fa-pen-to-square text-dark"></i></a></div>
                            <div class="col-0" *ngIf="auth.IsCoordinator" id="pointer"><a (click)="disableTopic(item.courseId ,item.topicId)"><i class="fa-solid fa-ban text-dark"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>