<section class="vh-100 d-flex align-items-center">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5"><img src="./assets/img/tMs.png" class="img-fluid rounded-3" id="hov"
          alt="Sample image"></div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form #ngForm (ngSubmit)="OnSubmit()">
          <div class="display-4 text-center my-3">Login</div>
          <div class="form-outline mb-4"><input type="text" class="form-control" name="Username"
              [(ngModel)]="Login.Email" placeholder="Enter User name" /></div>
          <span *ngIf="Emailmsg !== null">
            {{ Emailmsg }}
          </span>
          <div class="form-outline mb-3"><input type="password" class="form-control" name="Password"
              [(ngModel)]="Login.Password" placeholder="Enter password" /></div>
          <span *ngIf="Passwordmsg !== null">
            {{ Passwordmsg }}
          </span>
          <div class="d-flex justify-content-between align-items-center">
            <div *ngIf="response">
              {{ Responsemsg }}
            </div>
          </div>
          <button class="btn btn-dark pe-10 px-10 mt-3">Login</button>
        </form>
      </div>
    </div>
  </div>
</section>
