<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/Home">Home</a>
                </li>
                <li class="breadcrumb-item active">{{pageTitle}}</li>
            </ol>
        </nav>
        <div class="container-fluid px-4 pt-2 pb-2">
            <h3 class="text-black pb-2">{{pageTitle}}</h3>
            <div class="header" id="style">
                <a *ngIf="ls.IsCoordinator && statusId === 1" routerLink="/ScheduleReview"><button type="button" class="btn btn-dark pe-4 px-4 hover">Add</button></a>
                <div class="container">
                    <div class="col-md-11" id="hov">
                        <input  class="form-control hover" id="search" type="text"placeholder="Search" aria-label="Search"  (keyup)="filterByName()">
                    </div>
                </div>
                <div class="container">
                    <div class="col-md-12 mx-2" id="hov">
                        <select  name="Department" id="departmentId" class="form-select hover" name="_dept" (change)="filterByDepartment()">
                            <option value="">Select the Department</option>
                            <option *ngFor="let item of dept" value={{item.id}}>{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <ng-container *ngIf="reviewlist.length > 0">
                <div *ngFor="let item of reviewlist | paginate: {itemsPerPage: 5, currentPage: page, totalItems: totalLength }">
                    <div class="row g-3 my-2">
                        <div class="col-md-12">
                            <a routerLink="/UploadMOM/{{item.id}}">
                                <div class="p-4 bg-light d-flex justify-content-between align-items-center border hover rounded">
                                    <div class="col-2 mx-4"><p class="mb-0 text-dark font"><b>Trainee : </b> {{item.trainee.fullName}}</p></div>
                                    <div class="col-2"><p class="mb-0 text-dark font"><b>Reviewer : </b> {{item.reviewer.fullName}}</p></div>
                                    <div class="col-2 mx-4"><p class="mb-0 text-dark font"><b>Department : </b> {{item.department.name }}</p></div>
                                    <div class="col-0" *ngIf="edit && item.statusId === 1"><a routerLink="/ScheduleReview/{{item.id}}"><i class="fa-solid fa-pen-to-square text-dark"></i></a></div>
                                    <div class="col-0 mx-4" *ngIf="edit && item.statusId === 1" id="pointer"><a (click)="disableReview(item.id)"><i class="fa-solid fa-ban text-dark"></i></a></div>
                                    <div class="col-2 mx-4" *ngIf="(date.getTime() > item.reviewTime.getTime() && ls.IsTrainee) && (item.statusId !== 2)"><a routerLink="/UploadMom/{{item.id}}">
                                        <button type="button" class="btn btn-dark pe-3 px-3 mx-3">Upload MOM</button></a>
                                    </div>
                                    <div class="col-2 mx-4" *ngIf="item.mom !== null"><a routerLink="/ViewMOM/{{item.id}},{{item.traineeId}}"><button type="button" class="btn btn-dark pe-3 px-3 mx-3">View MOM</button></a></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngIf="reviewlist.length == 0">
                <div class="row g-3 my-2">
                    <h4 class="text-center">No Reviews Found</h4>
                </div>
            </ng-container>
        </div>
        <div class="mt-4"><pagination-controls *ngIf="reviewlist.length > 5" class="text-center" (pageChange)="page = $event"></pagination-controls></div>
    </div>
    <app-footer></app-footer>
</div>