<!-- List of Assignment to be displayed -->
<div
  *ngFor="let item of ListOfAssignments"
  class="container bg-light p-3 rounded border"
>
  <div class="d-flex justify-content-around">
    <div>Created By : {{ item.owner.fullName }}</div>
    <div>Created On : {{ item.owner.createdOn | date }}</div>
    <a
      (click)="ViewAssignment(item)"
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary"
      >View</a
    >
    <a
      download="assignment.pdf"
      [href]="sanitizer.bypassSecurityTrustUrl(item.base64 + ',' + item)"
    >
      Download
    </a>
  </div>
</div>
<!-- List of Assignment to be displayed -->
