<div class="content">
    <app-sidebar></app-sidebar>
    <div class="pt-4 px-4">
        <nav aria-label="breadcrumb" class="px-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Home">Home</a></li>
                <li class="breadcrumb-item active">Course List </li>
            </ol>
        </nav>
        <div class="container-fluid px-4 pt-2 pb-2">
            <h3 class="text-black pb-2">Trainee List</h3>
            <div class="col-md-10 d-flex">
                <input #search type="search" placeholder="Search text" class="form-control search-wrapper"
                    [(ngModel)]="searchText">
                &nbsp;&nbsp;&nbsp;
                <div class="btn btn-dark pe-4 px-4" (click)="toggleData()">Add</div>
            </div>
            <div *ngIf="toDisplay">
                <div *ngIf="List ; else elseblock">
                    <div class="scrollbar">
                        <ul *ngFor="let option of newTrainees | filter:searchText" class="my-3">
                            <li [id]="option.id" class="p-4 d-flex bg-light justify-content-around">
                                {{option.fullName}}
                                <input type="checkbox" (click)="AddTrainee(option)" />
                                <!-- <i class="fa fa-plus text-success " (click)="AddTrainee(option)"></i> -->
                                <!-- (click)="AddTrainee(option)" -->
                            </li>
                        </ul>
                    </div>
                    <div class="btn btn-dark pe-4 px-4 " (click)="Save()">Save</div>
                </div>
                <ng-template #elseblock>No Data</ng-template>
            </div>
            <div *ngIf="!toDisplay">
            <div class="" *ngFor="let item of trainees | filter:searchText | paginate: { itemsPerPage: 4, currentPage: page, totalItems: totalLength }">
                <div class="row g-3 my-2">
                    <div class="col-md-12">
                        <div class="p-4 bg-light shadow-sm">
                            <div class="container d-flex justify-content-around align-items-center rounded">
                                <div class="col-2"><a routerLink="/UserProfile">
                                        <p class="mb-0 text-dark"><b>Name : </b>{{ item.fullName }}</p>
                                    </a></div>
                                <div class="col-4 d-none d-md-inline"><a routerLink="/UserProfile/{{ item.id }}">
                                        <p class="mb-0 text-dark"><b>Email : </b> {{ item.email }}</p>
                                    </a></div>
                                <div class="col-0 d-none d-md-inline">
                                    <p class="mb-0 h3 text-danger"><i class="fa-solid fa-x "
                                            (click)="removeUser(item)"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="btn btn-dark pe-4 px-4 " (click)="Save()">Save</div>
        </div>
        <div class="mt-5">
            <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
    <app-footer></app-footer>
</div>